/* ============================== AURA - MAIN STYLES ============================ */

/* --------------------------- COLOR VARIABLES ----------------------------- */

:root {
    --color-bg: #F5F1EA;
    --color-bg-secondary: #EAE3D8;

    --color-text: #29231F;
    --color-text-light: #756B63;

    --color-accent: #A8664F;
    --color-glow: #D99A5B;

    --color-cream: #FFF9EF;
    --color-border: #D8CEC1;
}


/* ----------------- RESET --------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------- BODY -------------*/

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: Arial, sans-serif;
}


/* ======================NAVIGATION===================*/

.navbar {
    width: 100%;
    height: 90px;
    padding: 0 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*----------------LOGO------------------*/

.logo {
    color: var(--color-text);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.15em;
}


/*---------NAV LINKS------------*/

.nav-links {
    display: flex;
    gap: 2.5rem;
}

.nav-links a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 0.9rem;
    transition: opacity 0.3s ease;
}

.nav-links a:hover {
    opacity: 0.5;
}


/*---------------NAV ACTIONS----------------*/

.nav-actions {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

/*--------------------BUTTONS------------------*/

.nav-actions button {
    border: none;
    background: none;
    color: var(--color-text);
    cursor: pointer;
}

/*-------------------WISHLIST------------------*/

.wishlist-btn {
    font-size: 1.5rem;
    transition: 
            transform 0.3s ease,
            opacity 0.3s ease;
}

.wishlist-btn:hover {
    transform: scale(1.15);
    opacity: 0.6;
}


/*------------------CART------------------*/

.cart-btn {
    font-size: 0.9rem;
}

.cart-count {
    margin-left: 0.25rem;
    color: var(--color-accent);
}