/* ============================== AURA - MAIN STYLES ============================ */

/* --------------------------- COLOR VARIABLES ----------------------------- */

:root {
    --color-bg: #F5F1EA;
    --color-bg-secondary: #EAE3D8;

    --color-text: #29231F;
    --color-text-light: #756B63;

    --color-accent: #A8664F;
    --color-glow: #D99A5B;

    --color-cream: #FFF9EF;
    --color-border: #D8CEC1;
}


/* ----------------- RESET --------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------- BODY -------------*/

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: Arial, sans-serif;
}


/* ======================NAVIGATION===================*/

.navbar {
    width: 100%;
    height: 90px;
    padding: 0 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*----------------LOGO------------------*/

.logo {
    color: var(--color-text);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.15em;
}


/*---------NAV LINKS------------*/

.nav-links {
    display: flex;
    gap: 2.5rem;
}

.nav-links a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 0.9rem;
    transition: opacity 0.3s ease;
}

.nav-links a:hover {
    opacity: 0.5;
}


/*---------------NAV ACTIONS----------------*/

.nav-actions {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

/*--------------------BUTTONS------------------*/

.nav-actions button {
    border: none;
    background: none;
    color: var(--color-text);
    cursor: pointer;
}

/*-------------------WISHLIST------------------*/

.wishlist-btn {
    font-size: 1.5rem;
    transition: 
            transform 0.3s ease,
            opacity 0.3s ease;
}

.wishlist-btn:hover {
    transform: scale(1.15);
    opacity: 0.6;
}


/*------------------CART------------------*/

.cart-btn {
    font-size: 0.9rem;
}

.cart-count {
    margin-left: 0.25rem;
    color: var(--color-accent);
}




/*============================HERO======================*/

.hero {
    position: relative;
    min-height: calc(100vh - 90px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/*----------------HERO CONTENT--------------------*/

.hero-content {
    position: relative;
    z-index: 5;
    width: 100%;
    max-width: 1200px;
    padding: 5rem;
    text-align: center;
}

.hero-eyebrow {
    margin-bottom: 2rem;
    color: var(--color-text-light);
    font-size: 0.7rem;
    letter-spacing: 0.25em;
}



/* ---------- TITLE ---------- */

.hero-title {
    color: var(--color-text);

    font-size: clamp(5rem, 13vw, 12rem);
    font-weight: 500;

    line-height: 0.78;
    letter-spacing: -0.07em;
}

/* ---------- TITLE LINES ---------- */

.title-line {
    display: block;

    opacity: 0;

    transform: translateY(100%);

    animation:
        titleReveal 1s
        cubic-bezier(0.22, 1, 0.36, 1)
        forwards;
}
.title-line:nth-child(1) {
    animation-delay: 0.35s;
}


.title-line:nth-child(2) {
    animation-delay: 0.5s;
}


.title-line:nth-child(3) {
    animation-delay: 0.65s;
}


.accent-line {
    color: var(--color-accent);

    margin-left: 12vw;
}


@keyframes titleReveal {

  from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}


/* ---------- DESCRIPTION ---------- */

.hero-description {
    max-width: 320px;
    margin: 3rem auto 2rem;
    color: var(--color-text-light);
    font-size: 1rem;
    line-height: 1.6;
}



/* ---------- BUTTON ---------- */

.hero-button {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1.5rem;
    background-color: var(--color-text);
    color: var(--color-cream);
    text-decoration: none;
    font-size: 0.75rem;
    letter-spacing: 0.15em;
     transition:
        transform 0.3s ease,
        background-color 0.3s ease;
}


.hero-button:hover {
    transform: translateY(-4px);
    background-color: var(--color-accent);
}


.hero-button span {
    font-size: 1rem;
}


/* =========================================
   HERO CANDLE
   ========================================= */

   .hero-candle {
    position: absolute;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50% ,0) scale(1);
    z-index: 2;
}

/* ---------- CANDLE BODY ---------- */

.candle {
    position: relative;
    width: 110px;
    height: 170px;
    background: linear-gradient(
        90deg,
        #D8C7B5,
        #F4E9DA,
        #D0BBA7
    );
    border-radius: 8px 8px 18px 18px;
    box-shadow:
        0 20px 50px rgba(41, 35, 31, 0.15);
}



/* ---------- WICK ---------- */

.candle-wick {
    position: absolute;
    width: 3px;
    height: 25px;
    background-color: #29231F;
    top: -23px;
    left: 50%;
    transform: translateX(-50%);
}



/* ---------- FLAME ---------- */

.flame {
    position: absolute;
    width: 38px;
    height: 58px;
    left: 50%;
    top: -78px;
    transform:
        translateX(-50%)
        rotate(0deg);
    transform-origin: 50% 100%;
    background: var(--color-glow);
    border-radius:
        50% 50%
        50% 50%;
    filter: blur(1px);
      z-index: 3;
    transition:
        transform 0.15s ease-out;
}


/* ---------- INNER FLAME ---------- */

.flame-inner {
    position: absolute;
    width: 17px;
    height: 30px;
    left: 50%;
    bottom: 6px;
    transform: translateX(-50%);
    background: var(--color-cream);
    border-radius: 50%;
}


/* ---------- CANDLE GLOW ---------- */

.candle-glow {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 50%;
    top: -150px;
    transform: translateX(-50%);
    background: radial-gradient(
        circle,
        rgba(217, 154, 91, 0.25),
        transparent 70%
    );
    filter: blur(20px);
    pointer-events: none;
}



/* ---------- MOUSE GLOW ---------- */

.mouse-glow {
    position: fixed;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: radial-gradient(
        circle,
        rgba(217, 154, 91, 0.08),
        transparent 70%
    );
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 1;
}






/* =========================================
   HERO ENTRANCE ANIMATION
   ========================================= */

.hero-eyebrow,
.hero-title,
.hero-description,
.hero-button {
    opacity: 0;
    transform: translateY(40px);
    animation: heroReveal 1s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

/* ---------- ANIMATION DELAYS ---------- */

.hero-eyebrow {
    animation-delay: 0.2s;
}

.hero-title {
    animation-delay: 0.4s;
}

.hero-description {
    animation-delay: 0.7s;
}

.hero-button {
    animation-delay: 0.9s;
}


/* ---------- CANDLE ---------- */

.hero-candle {
    opacity: 0;
    transform: translate(-50%, 50px) scale(0.9);

    animation:
        candleReveal 1.4s
        cubic-bezier(0.22, 1, 0.36, 1)
        0.5s forwards;
}


/* ---------- KEYFRAMES ---------- */

@keyframes heroReveal {

    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}
@keyframes candleReveal {

    from {
        opacity: 0;
        transform: translate(-50%, 50px) scale(0.9);
    }

    to {
        opacity: 1;
        transform: translate(-50%, 0) scale(1);
    }

}




/* =========================================
   FLAME FLICKER
   ========================================= */

   .flame {
    animation: flicker 1.8s ease-in-out infinite;
}

@keyframes flicker {
    0% {
        transform: translateX(-50%) rotate(-2deg) scale(1);
    }

    25% {
        transform: translateX(-50%) rotate(2deg) scale(1.04, 0.96);
    }

    50% {
        transform: translateX(-50%) rotate(-1deg) scale(0.97, 1.05);
    }
      75% {
        transform: translateX(-50%) rotate(3deg) scale(1.03, 0.98);
    }

    100% {
        transform: translateX(-50%) rotate(-2deg) scale(1);
    }
}